###############################
# Git Line Endings            #
###############################

# Set default behaviour to automatically normalize line endings.
* text=auto

# Force batch scripts to always use CRLF line endings so that if a repo is accessed
# in Windows via a file share from Linux, the scripts will work.
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Force bash scripts to always use LF line endings so that if a repo is accessed
# in Unix via a file share from Windows, the scripts will work.
*.sh text eol=lf
Makefile    text eol=lf
*.mk    text eol=lf

###############################
# Git Large File System (LFS) #
###############################

# 2D Source
*.clip    filter=lfs diff=lfs merge=lfs -text
*.concept    filter=lfs diff=lfs merge=lfs -text
*.kra    filter=lfs diff=lfs merge=lfs -text
*.pur    filter=lfs diff=lfs merge=lfs -text
*.psd    filter=lfs diff=lfs merge=lfs -text
*.sbs    filter=lfs diff=lfs merge=lfs -text
*.spp    filter=lfs diff=lfs merge=lfs -text

# 2D Intermediary
*.exr    filter=lfs diff=lfs merge=lfs -text
*.gif    filter=lfs diff=lfs merge=lfs -text
*.ico    filter=lfs diff=lfs merge=lfs -text
*.jpg    filter=lfs diff=lfs merge=lfs -text
*.jpeg    filter=lfs diff=lfs merge=lfs -text
*.png    filter=lfs diff=lfs merge=lfs -text
*.tga    filter=lfs diff=lfs merge=lfs -text
*.tif    filter=lfs diff=lfs merge=lfs -text
*.tiff    filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text

# 3D Source
*.blend    filter=lfs diff=lfs merge=lfs -text
*.hda    filter=lfs diff=lfs merge=lfs -text
*.hip    filter=lfs diff=lfs merge=lfs -text
*.ma    filter=lfs diff=lfs merge=lfs -text
*.mb    filter=lfs diff=lfs merge=lfs -text
*.zpr    filter=lfs diff=lfs merge=lfs -text
*.ztl    filter=lfs diff=lfs merge=lfs -text

# 3D Intermediate
*.fbx    filter=lfs diff=lfs merge=lfs -text
*.obj    filter=lfs diff=lfs merge=lfs -text

# Audio
*.mp3    filter=lfs diff=lfs merge=lfs -text
*.wav    filter=lfs diff=lfs merge=lfs -text
*.ogg    filter=lfs diff=lfs merge=lfs -text

# Archives
*.7z filter=lfs diff=lfs merge=lfs -text
*.br filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text

# Documents
*.docx    filter=lfs diff=lfs merge=lfs -text
*.odt    filter=lfs diff=lfs merge=lfs -text
*.pdf    filter=lfs diff=lfs merge=lfs -text

# Fonts
*.woff2    filter=lfs diff=lfs merge=lfs -text

# Misc
*.uasset    filter=lfs diff=lfs merge=lfs -text
*.umap    filter=lfs diff=lfs merge=lfs -text
*.bin    filter=lfs diff=lfs merge=lfs -text
*.dll    filter=lfs diff=lfs merge=lfs -text
*.exe    filter=lfs diff=lfs merge=lfs -text
*.msi    filter=lfs diff=lfs merge=lfs -text
*.dmg    filter=lfs diff=lfs merge=lfs -text
