if SHIELD_LOGOS_LEFT

config ZMK_KEYBOARD_NAME
    default "Logos"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

# Trackball Support

config SPI
    bool
    default y

#config CONFIG_INPUT
#    bool
#    default y

#config CONFIG_PMW3610
#    bool
#    default y

endif # SHIELD_LOGOS_LEFT

if SHIELD_LOGOS_LEFT || SHIELD_LOGOS_RIGHT

config ZMK_SPLIT
    default y

config ZMK_POINTING
    default y

config CONFIG_NFCT_PINS_AS_GPIOS
    bool
    default y

endif # SHIELD_LOGOS_LEFT || SHIELD_LOGOS_RIGHT
