if SHIELD_LOGOS_LEFT

config ZMK_KEYBOARD_NAME
    default "Logos"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_LOGOS_LEFT

if SHIELD_LOGOS_LEFT || SHIELD_LOGOS_RIGHT

config ZMK_SPLIT
    default y

# Trackball

config ZMK_POINTING
    default y

config SPI
    default y

config INPUT
    default y

config PMW3610
    default y

# I think this may already be the default, try with it disabled
#config NFCT_PINS_AS_GPIOS
#    default y

endif # SHIELD_LOGOS_LEFT || SHIELD_LOGOS_RIGHT
