/ {
    combos {
        compatible = "zmk,combos";

        cmb_esc_l {
            bindings = <&kp ESCAPE>;
            key-positions = <1 2>;
            timeout-ms = <COMBO_TIMEOUT_MS>;
            require-prior-idle-ms = <COMBO_PRIOR_IDLE_MS>;
        };

        cmb_esc_r {
            bindings = <&kp ESCAPE>;
            key-positions = <9 10>;
            timeout-ms = <COMBO_TIMEOUT_MS>;
            require-prior-idle-ms = <COMBO_PRIOR_IDLE_MS>;
        };

        cmb_minus_l {
            bindings = <&kp MINUS>;
            key-positions = <13 14>;
            timeout-ms = <COMBO_TIMEOUT_MS>;
            require-prior-idle-ms = <COMBO_PRIOR_IDLE_MS>;
        };

        cmb_minus_r {
            bindings = <&kp MINUS>;
            key-positions = <21 22>;
            timeout-ms = <COMBO_TIMEOUT_MS>;
            require-prior-idle-ms = <COMBO_PRIOR_IDLE_MS>;
        };

        cmb_slash_l {
            bindings = <&kp SLASH>;
            key-positions = <25 26>;
            timeout-ms = <COMBO_TIMEOUT_MS>;
            require-prior-idle-ms = <COMBO_PRIOR_IDLE_MS>;
        };

        cmb_slash_r {
            bindings = <&kp SLASH>;
            key-positions = <33 34>;
            timeout-ms = <COMBO_TIMEOUT_MS>;
            require-prior-idle-ms = <COMBO_PRIOR_IDLE_MS>;
        };
    };
};
